:root {
	// Colors
	--tf-c-text: SlateGrey;
	--tf-c-inactive: DarkGray;
	--tf-c-focused: DodgerBlue;
	--tf-c-activated: Gray;
	--tf-c-hover: DimGray;
	--tf-c-error: Crimson;
	--tf-c-disabled: Silver;
	--tf-c-placeholder: Silver;
	--tf-c-border: var(--tf-c-inactive);

	// Font
	--tf-font-family: 'Inter', sans-serif;
	--tf-font-size-field: 16px;
	--tf-font-size-helper: 12px;
	--tf-font-weight: 400;
	--tf-line-height: 24px;
	--tf-letter-spacing: .009375em;

	// Border
	--tf-border-size-inactive: 1px;
	--tf-border-size-active: 2px;
	--tf-border-radius: 6px;

	// Transition
	--tf-transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}